asgiref==3.3.1
attrs==20.3.0
Automat==20.2.0
beautifulsoup4==4.9.3
bootstrap4==0.1.0
bs4==0.0.1
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
constantly==15.1.0
cryptography==3.4.2
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.22
defusedxml==0.6.0
Django==3.1.8
django-allauth==0.44.0
django-bootstrap3==14.2.0
django-bootstrap4==2.3.1
django-ckeditor==6.0.0
django-js-asset==1.2.2
django-mptt==0.11.0
django-password-reset==2.0
django-ranged-response==0.2.0
django-secure==1.0.2
django-simple-captcha==0.5.13
django-taggit==1.3.0
django-version==1.0.0
et-xmlfile==1.0.1
etl-utils==0.1.11
h5py==3.1.0
html5lib==1.1
humanize==0.5.1
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
itemadapter==0.2.0
itemloaders==1.0.4
jdcal==1.4.1
jieba==0.42.1
jmespath==0.10.0
joblib==1.0.1
Keras==2.4.3
kiwisolver==1.3.1
lxml==4.6.2
Markdown==3.3.3
matplotlib==3.4.0
nltk==3.6.1
notifications==0.3.2
numpy==1.20.1
oauthlib==3.1.0
openpyxl==3.0.6
parsel==1.6.0
Pillow==8.1.0
progressbar==2.2
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyJWT==2.0.1
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pysingleton==0.2.1
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2021.1
PyYAML==5.4.1
queuelib==1.5.0
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
scikit-learn==0.24.1
scipy==1.6.0
Scrapy==2.4.1
service-identity==18.1.0
six==1.15.0
snownlp==0.12.3
soupsieve==2.1
sqlparse==0.4.1
termcolor==1.1.0
tfidf==0.0.6
threadpoolctl==2.1.0
tqdm==4.60.0
Twisted==21.2.0
twisted-iocpsupport==1.0.1
urllib3==1.26.3
w3lib==1.22.0
webencodings==0.5.1
wordcloud==1.8.1
zhon==1.1.5
zope.interface==5.3.0
