<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>马拉松程序员项目演示</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/static/js/jqPaginator.min.js" type="text/javascript"></script>
    <link rel="Shortcut Icon" href="/static/img/mlscoder.ico" type="image/x-icon"/>

</head>

<body>

<style>
    .title {
        font-size: 25px;
        padding: 10px;
        margin-bottom: 30px;
    }

    .city {
        font-size: 20px;
        padding: 10px;
        margin-bottom: 30px;
    }

    .w70 {
        display: inline-block;
        width: 70%;
    }

    .item {
        float: left;
        width: 30%;
        margin-bottom: 20px;
    }
</style>
<div class="container">
    <input type="hidden" id="cityCode" value="{{cityCode}}">
    <input type="hidden" id="lineName" value="{{lineName}}">

    <input type="hidden" id="stationName" value="{{station}}">

    <h3 class="title"><strong>多城市租房信息分类演示</strong>
        <span class="city">&nbsp; &nbsp; 当前<span style="color: red">{{cityName}}</span> &nbsp;&nbsp;切换
      <a href="/?city=sh">上海</a>  |<a href="/?city=bj">北京</a>|<a href="/?city=gz">广州</a>|<a href="/?city=sz">深圳</a>|<a
                    href="/?city=hz">杭州</a>| <a href="/?city=nj">南京</a>|<a href="/?city=cq">重庆</a>|<a href="/?city=cd">成都</a>
        </span></h3>
    <div class="controls clearfix">
        <form method="post" id="myForm">
            <div class="item">
                出租类别：
                <div class="w70">
                    <select class="form-control" name="rent_type">
                        <option>不限
                        </option>
                        <option value="hz" {%if rent_type=='hz' %}
                                selected="selected" {% endif %}>合租
                        </option>
                        <option value="zz" {%if rent_type=='zz' %}
                                selected="selected" {% endif %}>整租
                        </option>
                    </select>
                </div>
            </div>
            <div class="item">
                付款类型：
                <div class="w70">
                    <select class="form-control" name="pay">
                        <option>不限
                        </option>
                        <option value="1" {%if pay=='1' %}
                                selected="selected" {% endif %}>押一付一
                        </option>
                        <option value="3" {%if pay=='3' %}
                                selected="selected" {% endif %}>押一付三
                        </option>
                    </select>
                </div>
            </div>
            <div class="item">
                仅限女生：
                <div class="w70">
                    <select class="form-control" name="only_girl">
                        <option>不限
                        </option>
                        <option value="1" {%if only_girl=='1' %}
                                selected="selected" {% endif %}>是
                        </option>
                    </select>
                </div>
            </div>
            <div class="item">
                地铁站点：
                <select class="form-control-select" id="line" name="line" onchange="selectCity(this)">
                    <option>地铁线路</option>
                    {% for line in lines %}
                    <option {%if lineName== line %}
                            selected="selected" {% endif %}> {{ line }}
                    </option>
                    {% endfor %}
                </select>
                <select class="form-control-select" id="station" name="station">
                    <option>地铁站点</option>
                </select>


            </div>
            <div class="item">
                价格上限：
                <div class="w70">
                    <input type="text" class="form-control" placeholder="默认不设置价格上限" name="price" {%if price!=None %}
                           value="{{price}}" {% endif %}>
                </div>
            </div>
            <div>
                <input type="hidden" id="currentPage" name="currentPage" value="{{currentPage}}"/>

                <button type="submit" id="submit" class="btn btn-primary">查询</button>
            </div>
        </form>
    </div>
    <div class="content table-responsive">
        <table class="table table-bordered table-hover table-condensed table-striped">
            <thead>
            <th>序号</th>
            <th>站点</th>
            <th>出租类型</th>
            <th>付款类型</th>
            <th>限女生</th>
            <th>价格</th>
            <th title="创建者一个月内发布帖子的次数，如果次数超过5次，可能是职业房东和中介账号，供参考判断">账号发布次数❗</th>
            <th>创建时间</th>
            <th width="400px">标题</th>
            <th>详情</th>
            </thead>
            <tbody>

            {% if rents==None %}
            <span>当前条件未查询到记录</span>
            {% else %}
            {% for rent in rents %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ rent.station or '' }}</td>
                <td> {% if rent.rent_type=='hz' %} 合租
                    {% elif rent.rent_type=='zz' %}
                    整租
                    {% endif %}
                </td>
                <td>{% if rent.pay=='1' %}
                    <span style="color: blue"> 押一付一</span>
                    {% elif rent.pay=='3' %}
                    押一付三
                    {% endif %}
                </td>
                <td>
                    {% if rent.only_girl=='1' %}
                    <span style="color: red">   是</span>
                    {% else %}
                    &nbsp;
                    {% endif %}
                </td>
                <td>{{ rent.price or '' }}</td>
                <td>
                    {{ rent.monthSum}}

                    {% if rent.identity==1 %}
                    <span style="color: red"> &nbsp;&nbsp;疑似中介</span>
                    {% endif %}

                </td>

                <td>{{ rent.create_date.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                <td>{{ rent.houseInfo.title }}</td>
                <td><a href="{{ rent.url }}" target="_blank">查看</a></td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <div>
        <ul class="pagination" id="pagination">
        </ul>
        <!--所有的数据条数-->
        <input type="hidden" id="PageCount" value="{{pageCount}}"/>
        <!--每页条数-->
        <input type="hidden" id="PageSize" value="{{pageSize}}"/>
        <!--一共多少页-->
        <input type="hidden" id="countindex"/>
        <script src="/static/js/myPage.js" type="text/javascript"></script>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lineName = $("#lineName").val();
        var stationName = $("#stationName").val();
        var cityCode = $("#cityCode").val();
        $.ajax({
            type: "GET",
            url: "getSubwayStation?city=" + cityCode + "&line=" + lineName,
            dataType: "json",
            success: function (data) {
                console.log(data)
                var citys = data;
                var oCitySele = document.getElementById("station");
                var opts = oCitySele.getElementsByTagName("option");
                var len = opts.length;//4 3
                for (var i = 1; i < len; i++) {
                    oCitySele.removeChild(opts[1]);
                }
                for (var i = 0; i < citys.length; i++) {
                    var opt = document.createElement("option");
                    opt.innerHTML = citys[i];
                    if (stationName == citys[i]) {
                        opt.selected = true;
                    }
                    oCitySele.appendChild(opt);
                }
            }
        });

    });
</script>
<script type="text/javascript">
    function selectCity(thisobj) {
        var prov = thisobj.value;
        var stationName = $("#stationName").val();
        var cityCode = $("#cityCode").val();
        $.ajax({
            type: "GET",
            url: "getSubwayStation?city=" + cityCode + "&line=" + prov,
            dataType: "json",
            success: function (data) {
                console.log(data)
                var citys = data;
                var oCitySele = document.getElementById("station");
                var opts = oCitySele.getElementsByTagName("option");
                var len = opts.length;//4 3
                for (var i = 1; i < len; i++) {
                    oCitySele.removeChild(opts[1]);
                }
                for (var i = 0; i < citys.length; i++) {
                    var opt = document.createElement("option");
                    opt.innerHTML = citys[i];
                    if (stationName == citys[i]) {
                        opt.selected = true;
                    }
                    oCitySele.appendChild(opt);
                }
            }
        });
    }
</script>
</body>
</html>